<div class="container">
  <h1><%= @task.title %></h1>

  <div class="card">
    <% if @task.eyecatch.attached? %>
      <div class="card_image">
        <%= image_tag @task.eyecatch %>
      </div>
    <% end %>

    <div>
      <p class="card_content"><%= @task.content %></p>
      <p class="card_name">name:<%= @task.user.display_name %></p>
    </div>

    <% if user_signed_in? && current_user.tasks.exists?(id: @task.id) %>
    <%# current_userのboardsがexists（存在するか）? %>
      <div class="card_actions">
        <div class="dropdown">
          <%= image_tag 'actions.svg', class: 'dropbtn' %>
          <div class="dropdown-content mini">
            <%= link_to "CardEdit", edit_board_task_path(@task) %>
            <%= link_to "CardDelete", board_task_path(@task), data: {method: "delete"} %>
          </div>
        </div>
      </div>
    <% end %>

  </div>
 </div>