<div class="container">
  <h2>All Boards</h2>

  <% @boards.each do |board| %>
    <%= link_to  board_path(board) do %>
      <div class="card">
        <div>
          <p class="card_title"><%= board.name %></p>
          <p class="card_content"><%= board.description %></p>
          <p class="card_name">name:<%= board.user.display_name %></p>
        </div>

        <% if user_signed_in? && current_user.boards.exists?(id: board.id) %>
        <%# current_userのboardsがexists（存在するか）? %>
          <div class="card_actions">
            <div class="dropdown">
              <%= image_tag 'actions.svg', class: 'dropbtn' %>
              <div class="dropdown-content mini">
                <%= link_to "BoardEdit", edit_board_path(board) %>
                <%= link_to "BoardDelete", board_path(board), data: {method: "delete"} %>
              </div>
            </div>
          </div>
        <% end %>
        
      </div>
    <% end %>
  <% end %>

  <div class="card_new">
    <%= link_to 'Add new board',new_board_path %>
  </div>

</div>